services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  QkSkima\Api\:
    resource: '../Classes/*'

  QkSkima\Api\Middleware\ApiMiddleware:
    arguments:
      $matcher: '@QkSkima\Api\Routes\EndpointMatcher'
    public: true
    shared: true

  QkSkima\Api\Command\RoutesCommand:
    tags:
      - name: 'console.command'
        command: 'qkskima:api:routes'
        description: 'List all registered API routes'
        schedulable: false